.title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 179, 191);
  height: 80px;
  color: white;
  text-shadow:2px 2px black;
}

.home {
  position: relative;
  top: -50px;
  color: white;
  text-decoration: none;
  margin-left: 2%;
}
.home a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 50px;
}

.poem {
  color: white;
  position: relative;
  top: 80px;
  text-align: center;
  margin-bottom: 100px;
}

pre {
  color: white;
  text-align: center;
  margin-bottom: 100px; 
  font-family: 'Times New Roman', Times, serif;
}

.songs {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  position: relative;
  top: 70px;

}
.songs a {
  text-decoration: none;
}

.warning {
  color: white;
  position: relative;
  top:60px;
  text-align: center;
  text-decoration: none;
}

/* .prev {
  position: relative;
  margin-left: 2%;
  bottom: 15px;
}
.prev a {
  text-decoration: none;
  cursor: pointer;
}

.next {
  position: relative;
  bottom: -25px;
  margin-right: 2%;
  padding-bottom: 10px;
}
.next a {
  text-decoration: none;
  cursor: pointer;
} */

/* .previous {
  background-color: #f1f1f1;
  color: black;
}
.previous a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.previous a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}
.next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.next a:hover {
  background-color: #ddd;
  color: black;
} */

.next, .previous a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.previous, .next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-right: 80px;
  position: relative;
  bottom: -19px;
}

.next {
  background-color: #04AA6D;
  color: white;
  margin-right: 25px;
  position: relative;
  bottom: -19px;
}

.round {
  border-radius: 50%;
}

footer {
  color:black;
  height: 70px;
  text-align: center;
  background-color: pink;
  position: relative;
  top: 100px;
}