.title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 179, 191);
  height: 80px;
  color: white;
  text-shadow:2px 2px black;
}
.title a {
  text-decoration: none;
  color: white;
}

.home {
  position: relative;
  top: -50px;
  color: white;
  text-decoration: none;
  margin-left: 2%;
}
.home a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: black;
}

.flip-card {
  background-color: transparent;
  width:370px;
  height:470px;
  perspective: 1000px;
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back pre {
  text-align: center;
  position: relative;
  left: -20px;

}

.poem {
  color: white;
  position: relative;
  top: 80px;
  text-align: center;
  margin-bottom: 100px;
}


pre {
  color: white;
  display: inline-block; 
  text-align: left;
  margin-bottom: 100px; 
  font-family: 'Times New Roman', Times, serif;
}
pre a {
  text-decoration: none;
  color: white;
}

.songs {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  position: relative;
  top: 70px;

}
.songs a {
  text-decoration: none;
}

.warning {
  color: white;
  position: relative;
  top:60px;
  text-align: center;
  text-decoration: none;
}

.next, .previous a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.previous, .next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover:not(.title a) {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-right: 80px;
  position: relative;
  bottom: -19px;
}

.next {
  background-color: #04AA6D;
  color: white;
  margin-right: 25px;
  position: relative;
  bottom: -19px;
}

footer {
  color:black;
  height: 70px;
  text-align: center;
  background-color: pink;
  position: relative;
  top: 100px;
}