.title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 179, 191);
  height: 80px;
  color: white;
  text-shadow:2px 2px black;
}
.title a {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: black;
}


.flip-card {
  background-color: transparent;
  width:500px;
  height:700px;
  perspective: 1000px;
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

ol {
  position: relative;
  top: 80px;
  text-align: center;
  color: white;
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}

li a{
  color: white;
  text-decoration: none;
}

footer {
  color:black;
  height: 70px;
  background-color: rgb(255, 179, 191);
  position: relative;
  top: 100px;
}